<div class="video-row">
	<div class="left">
		{{weight}}
	</div>
	<div class="image-container left">
		<a href="http://open.spotify.com/track/{{externalID}}"><img src="{{thumbnail}}" alt="{{externalID}}" height="104"></a>
	</div>
	<small>{{format_time length}}</small>
	<div>
		<h3>{{title}}</h3>
		<small>{{cid}}</small><br>
		from {{album}} by <em>{{join artist}}</em>
	</div>
</div>